Build a regression model.

In [34]:
import pandas as pd
import statsmodels.api as sm
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [35]:
df = pd.read_csv("../data/finalDf.csv")
df.drop("Unnamed: 0", axis=1, inplace=True)
df.head()

,fsqid,name,latitude,longitude,category,popularity,price,rating,stats,free_bikes
0,2b35d1155b9e408487c4e75d,Sheetla Das Ki Bagiya Shri Ram,23.249586,77.395599,"Retail,",NaN,NaN,NaN,NaN,2
1,51336900e4b063789a511ca4,Pizza inn,23.249586,77.395599,"Fast Food Restaurant,",0.520196,1.0,NaN,NaN,2
2,51c4981d498ed8aad5ce9721,Danish Icecream Palour,23.249586,77.395599,"Ice Cream Parlor,",0.916330,1.0,NaN,NaN,2
3,5128b4fae4b01d5802641e46,Bake N Shake,23.249586,77.395599,"Coffee Shop,",0.764282,1.0,NaN,NaN,2
4,59f2ef646bd36b5ffe811366,Kamla Park,23.249586,77.395599,"Park,",0.931044,NaN,NaN,NaN,2

In [36]:
df.fillna(0,inplace=True)

In [37]:
df.head()

,fsqid,name,latitude,longitude,category,popularity,price,rating,stats,free_bikes
0,2b35d1155b9e408487c4e75d,Sheetla Das Ki Bagiya Shri Ram,23.249586,77.395599,"Retail,",0.000000,0.0,0.0,0,2
1,51336900e4b063789a511ca4,Pizza inn,23.249586,77.395599,"Fast Food Restaurant,",0.520196,1.0,0.0,0,2
2,51c4981d498ed8aad5ce9721,Danish Icecream Palour,23.249586,77.395599,"Ice Cream Parlor,",0.916330,1.0,0.0,0,2
3,5128b4fae4b01d5802641e46,Bake N Shake,23.249586,77.395599,"Coffee Shop,",0.764282,1.0,0.0,0,2
4,59f2ef646bd36b5ffe811366,Kamla Park,23.249586,77.395599,"Park,",0.931044,0.0,0.0,0,2

In [39]:
labelencoder = LabelEncoder()
df['category_new'] = labelencoder.fit_transform(df['category'].astype(str))
df.head(5)

,fsqid,name,latitude,longitude,category,popularity,price,rating,stats,free_bikes,category_new
0,2b35d1155b9e408487c4e75d,Sheetla Das Ki Bagiya Shri Ram,23.249586,77.395599,"Retail,",0.000000,0.0,0.0,0,2,111
1,51336900e4b063789a511ca4,Pizza inn,23.249586,77.395599,"Fast Food Restaurant,",0.520196,1.0,0.0,0,2,58
2,51c4981d498ed8aad5ce9721,Danish Icecream Palour,23.249586,77.395599,"Ice Cream Parlor,",0.916330,1.0,0.0,0,2,79
3,5128b4fae4b01d5802641e46,Bake N Shake,23.249586,77.395599,"Coffee Shop,",0.764282,1.0,0.0,0,2,38
4,59f2ef646bd36b5ffe811366,Kamla Park,23.249586,77.395599,"Park,",0.931044,0.0,0.0,0,2,100

In [40]:
# Prepare the inputs for the regression model
x = df[['latitude', 'longitude','popularity','price','rating','category_new']]
x = sm.add_constant(x) # Add a constant term to the inputs
y = df['free_bikes']

In [41]:
# Fit the regression model
model = sm.OLS(y, x).fit()

Provide model output and an interpretation of the results.

In [43]:
# Print the summary
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             free_bikes   R-squared:                       0.222
Model:                            OLS   Adj. R-squared:                  0.217
Method:                 Least Squares   F-statistic:                     44.79
Date:                Mon, 30 Jan 2023   Prob (F-statistic):           2.55e-48
Time:                        19:45:24   Log-Likelihood:                -1558.8
No. Observations:                 949   AIC:                             3132.
Df Residuals:                     942   BIC:                             3166.
Df Model:                           6
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const         -619.2951    124.278     -4.983      0.000    -863.188    -375.402
latitude        -9.6654      1.726     -5.600      0.000     -13.053      -6.278
longitude       10.9436      1.246      8.780      0.000       8.497      13.390
popularity       0.2470      0.139      1.777      0.076      -0.026       0.520
price            0.0010      0.077      0.013      0.990      -0.150       0.152
rating           0.0441      0.021      2.056      0.040       0.002       0.086
category_new    -0.0005      0.001     -0.444      0.657      -0.003       0.002
==============================================================================
Omnibus:                       14.926   Durbin-Watson:                   0.221
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               25.138
Skew:                          -0.060   Prob(JB):                     3.48e-06
Kurtosis:                       3.788   Cond. No.                     3.52e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.52e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

# Stretch

How can you turn the regression model into a classification model?

provided with the attributes of the area, we can predict the rough number of free bikes in an area